.App {
  background-color: cadetblue;
  display: flex;
  justify-content:flex-start;
  align-items:center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

}
.form-control{
  font-size: 2rem;
  padding: 15px 30px;
  border-radius: 0px 0px 20px 20px;
  border: 0px solid #000000;
  outline: none;
  box-shadow: 0px 5px 0px #353535;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_weather{
  margin-top: 30px;
  width: 30vw;
  height: 80vh;
  background-color: cadetblue;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:rgb(31, 33, 34);
  font-size: 2rem;
}

.warm{
  background-image: url('./img/sun.jpg');
}

.cold{
  background-image: url('./img/snow.jpg');
}

.img_weather{
  width: 100px;
  height: 100px;
}

.temp{
  font-size: 4rem;
  padding: 30px ;
  background-color: rgba(240, 248, 255, 0.589);
  border-radius: 10px;
  box-shadow:  5px 5px #35353586;
  font-weight: 900;
  margin: 10px;
}



@media (min-width: 320px) and (max-width: 767px) {
  /* Ваши стили для мобильных устройств */

  .form-control{
    font-size: 1.5rem;
    padding: 15px 20px;
  }

  .info_weather{
    width: 80vw;
    height: 80vh;
  }
}